# Service and ingress.
service:
  port: 8080
  internalPort:
  type: "NodePort"

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.allow-http: "false"
    # kubernetes.io/ingress.global-static-ip-name: pipecd

# ServiceAccount
serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # The name of existing ServiceAccount to use when create is false.
  name: ""
  # Annotations to add to the service account
  annotations: {}

# Workloads.
gateway:
  replicasCount: 1
  imageTag: v1.31.0
  resources: {}
  internalTLS:
    enabled: false

server:
  image:
    repository: ghcr.io/pipe-cd/pipecd
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""
  replicasCount: 1
  args:
    cacheAddress: ""
    enableGRPCReflection: false
    secureCookie: false
    # One of "humanize", "json", or "console" is available.
    logEncoding: humanize
    # One of "debug", "info", "warn", "error", "dpanic", "panic" or "fatal" is available.
    logLevel: info
    metrics: true
  resources: {}
  env: []

cache:
  imageTag: "5.0.5-alpine3.9"
  password: ""
  resources: {}

ops:
  image:
    repository: ghcr.io/pipe-cd/pipecd
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""
  args:
    cacheAddress: ""
    # One of "humanize", "json", or "console" is available.
    logEncoding: humanize
    # One of "debug", "info", "warn", "error", "dpanic", "panic" or "fatal" is available.
    logLevel: info
    metrics: true
  resources: {}

cloudSQLProxy:
  enabled: false
  version: 1.17
  args:
    instanceConnectionName: ""
    port: 3306
  resources: {}

mysql:
  image: mysql
  imageTag: 8.0.33
  resources: {}
  port: 3306

minio:
  imageTag: "RELEASE.2020-08-26T00-00-49Z"
  resources: {}
  port: 9000

# Control Plane Configurations.
config:
  # Specifies whether a ConfigMap for control plane configuration should be created
  create: true
  # The name of the ConfigMap to use when create is false.
  name: ""
  # The name of the configuration file.
  fileName: control-plane-config.yaml
  # Configuration data for control plane when create is false.
  data: |
    apiVersion: "pipecd.dev/v1beta1"
    kind: ControlPlane
    spec:

# Secret files that can be used in above configuration.
secret:
  # Specifies whether a Secret for storing sensitive data should be created.
  create: true
  # The name of the Secret should be mounted to container.
  name: "pipecd-secrets"
  mountPath: /etc/pipecd-secret
  encryptionKey:
    fileName: "encryption-key"
    data: ""
  firestoreServiceAccount:
    fileName: "firestore-service-account"
    data: ""
  gcsServiceAccount:
    fileName: "gcs-service-account"
    data: ""
  cloudSQLServiceAccount:
    fileName: "cloud-sql-service-account"
    data: ""
  minioAccessKey:
    fileName: "minio-access-key"
    data: ""
  minioSecretKey:
    fileName: "minio-secret-key"
    data: ""
  internalTLSKey:
    fileName: "internal-tls.key"
    data: ""
  internalTLSCert:
    fileName: "internal-tls.cert"
    data: ""


# Optional configuration for GKE.
backendConfig:
  enabled: false
  iap:
    enabled: false
    secretName: pipecd-iap

managedCertificate:
  enabled: false
  domains: []

cors:
  enabled: false
  allowOrigins:
    - "http://localhost:9090"

quickstart:
  enabled: false

monitoring:
  # If true, prometheus and grafana sub-charts will be installed
  enabled: false
  # If true, cluster stats will be collected and shown on the dashboard.
  # It includes stats for Nodes, Pods and so on.
  clusterStats: false
  # Optional configuration for GKE.
  backendConfig:
    enabled: false
    iap:
      enabled: false
      secretName: pipecd-monitoring-iap
  managedCertificate:
    enabled: false
    domains: []

# All directives inside this section will be directly sent to the prometheus chart.
# Head to the below link to see all available values.
# https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus/values.yaml
prometheus:
  pushgateway:
    enabled: false
  nodeExporter:
    enabled: true
    service:
      hostPort: 9100
      servicePort: 9100
  kubeStateMetrics:
    enabled: true
  configmapReload:
    prometheus:
      enabled: true
    alertmanager:
      enabled: true
  alertmanager:
    enabled: true
    useClusterRole: true
  alertmanagerFiles:
    alertmanager.yml:
      # The root node of the routing tree.
      route: {}
      # A list of notification receivers.
      receivers: []
  server:
    configMapOverrideName: prometheus-server
    retention: 7d
    persistentVolume:
      size: 4Gi
    strategy:
      type: Recreate
    extraFlags:
      - enable-feature=remote-write-receiver # To write trace metrics from Grafana Tempo

# All directives inside this section will be directly sent to the grafana chart.
# Head to the below link to see all available values.
# https://github.com/grafana/helm-charts/tree/main/charts/grafana
grafana:
  rbac:
    pspEnabled: false
  adminPassword: admin
  ingress:
    enabled: false
    hosts: []
    path: /
    pathType: Prefix
  sidecar:
    datasources:
      enabled: true
      # Label that the configmaps with datasources are marked with
      label: grafana_datasource
    dashboards:
      enabled: true
      # Label that the configmaps with dashboards are marked with
      label: grafana_dashboard
      provider:
        foldersFromFilesStructure: true
  extraConfigmapMounts:
    - name: datasources
      configMap: pipecd-grafana-datasources
      mountPath: "/etc/grafana/provisioning/datasources/datasources.yaml"
      subPath: datasources.yaml
      readOnly: true
  # TODO: Manage Grafana dashboard providers as a ConfigMap
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'Cluster'
          orgId: 1
          folder: 'Cluster'
          type: file
          disableDeletion: false
          allowUiUpdates: false
          options:
            path: /tmp/dashboards/Cluster
        - name: 'Control-Plane'
          orgId: 1
          folder: 'Control-Plane'
          type: file
          disableDeletion: false
          allowUiUpdates: false
          options:
            path: /tmp/dashboards/Control-Plane
        - name: 'Piped'
          orgId: 1
          folder: 'Piped'
          type: file
          disableDeletion: false
          allowUiUpdates: false
          options:
            path: /tmp/dashboards/Piped

# All directives inside this section will be directly sent to the grafana-tempo chart.
# Head to the below link to see all available values.
# https://github.com/grafana/helm-charts/tree/main/charts/tempo
tempo:
  tempo:
    metricsGenerator:
      enabled: true
      remoteWriteUrl: http://{{ .Release.Name }}-prometheus-server/api/v1/write # we cannot use pipecd.fullname because it returns tempo's fullname

  # -- Tempo configuration file contents
  # modified by @pipecd, to expand template remoteWriteUrl
  # @default -- Dynamically generated tempo configmap
  config: |
    memberlist:
      cluster_label: "{{ .Release.Name }}.{{ .Release.Namespace }}"
    multitenancy_enabled: {{ .Values.tempo.multitenancyEnabled }}
    usage_report:
      reporting_enabled: {{ .Values.tempo.reportingEnabled }}
    compactor:
      compaction:
        block_retention: {{ .Values.tempo.retention }}
    distributor:
      receivers:
        {{- toYaml .Values.tempo.receivers | nindent 8 }}
    ingester:
      {{- toYaml .Values.tempo.ingester | nindent 6 }}
    server:
      {{- toYaml .Values.tempo.server | nindent 6 }}
    storage:
      {{- toYaml .Values.tempo.storage | nindent 6 }}
    querier:
      {{- toYaml .Values.tempo.querier | nindent 6 }}
    query_frontend:
      {{- toYaml .Values.tempo.queryFrontend | nindent 6 }}
    overrides:
      {{- toYaml .Values.tempo.global_overrides | nindent 6 }}
      {{- if .Values.tempo.metricsGenerator.enabled }}
          metrics_generator_processors:
          - 'service-graphs'
          - 'span-metrics'
    metrics_generator:
          storage:
            path: "/tmp/tempo"
            remote_write:
              - url: {{ tpl .Values.tempo.metricsGenerator.remoteWriteUrl . }} # modified line is here
      {{- end }}

opentelemetry-collector:
  mode: "deployment"
  replicaCount: 1
  image:
    repository: "otel/opentelemetry-collector-k8s"
  config:
    receivers:
      # helm warns below configs, but these are from this example and works fine.
      # ref; https://artifacthub.io/packages/helm/opentelemetry-helm/opentelemetry-collector/0.43.3#basic-top-level-configuration
      jaeger: null
      prometheus: null
      zipkin: null
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317 # collector is deployed mith deployment mode, so listen not only for local.
          http: null
    exporters:
      otlp:
        endpoint: '{{ .Release.Name }}-tempo:4317' # we cannot use pipecd.fullname because it returns opentelemetry-collector's fullname
        tls:
          insecure: true
    service:
      pipelines:
        traces:
          receivers:
            - otlp
          exporters:
            - otlp
        metrics: null
        logs: null
