common --color=yes

# Show us more details
build --show_timestamps --verbose_failures --incompatible_strict_action_env
test --test_output=errors --test_verbose_timeout_warnings --incompatible_strict_action_env

# Enable stamping workspace variables to binary.
build:stamping --stamp --workspace_status_command hack/print-workspace-status.sh

# Enable go race detection
build --features=race

# Output profiling to a file
build --profile=/tmp/build.bazelprofile

# Ensure that Bazel never runs as root, which can cause unit tests to fail
build --sandbox_fake_username

# Make /tmp hermetic
build --sandbox_tmpfs_path=/tmp

# Preset definitions
build --define DOCKER_REGISTRY=localhost:5000

# https://github.com/bazelbuild/rules_docker/issues/842
build --host_force_python=PY2

# CI configurations
build:ci --define DOCKER_REGISTRY=gcr.io/pipecd
build:ci --remote_http_cache=https://storage.googleapis.com/pipecd-bazel-cache
build:ci --google_credentials=/secrets/bazel_cache_service_account

# Platform configurations
build:linux --platforms=@io_bazel_rules_go//go/toolchain:linux_amd64
build:darwin --platforms=@io_bazel_rules_go//go/toolchain:darwin_amd64
build:darwin --platforms=@io_bazel_rules_go//go/toolchain:darwin_arm64
build:windows --platforms=@io_bazel_rules_go//go/toolchain:windows_amd64
