common --color=yes

# Show us more details
build --show_timestamps --verbose_failures
test --test_output=errors --test_verbose_timeout_warnings

# Enable stamping workspace variables to binary.
build:stamping --stamp --workspace_status_command hack/print-workspace-status.sh

# Enable go race detection
build:unit --features=race
test:unit --features=race

test:unit --test_tag_filters=-e2e,-integration
test:integration --test_tag_filters=integration

# Output profiling to a file
build --profile=/tmp/build.bazelprofile
test --profile=/tmp/build.bazelprofile

# Ensure that Bazel never runs as root, which can cause unit tests to fail
build --sandbox_fake_username

# Make /tmp hermetic
build --sandbox_tmpfs_path=/tmp

# Preset definitions
build --define DOCKER_REGISTRY=local

# https://github.com/bazelbuild/rules_docker/issues/842
build --host_force_python=PY2
test --host_force_python=PY2
run --host_force_python=PY2

# CI configurations
build:ci --define DOCKER_REGISTRY=gcr.io/kapetanios
build:ci --platforms=@io_bazel_rules_go//go/toolchain:linux_amd64

build:ci --remote_http_cache=https://storage.googleapis.com/kapetaniosci-pipe-bazel-cache-us
build:ci --google_credentials=/secrets/bazel_cache_service_account
