//
// Main navbar
//

.td-navbar-cover {
    background: $primary;

    &.navbar-bg-onscroll .nav-link {
        text-shadow: none;
    }
}

.navbar-bg-onscroll {
    background: $primary !important;
    opacity: inherit;
}

.td-navbar {
    background: $primary;
    min-height: 4rem;
    margin: 0;
    z-index: 32;

    @include media-breakpoint-up(md) {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .navbar-brand {
        text-transform: none;
        text-align: middle;
        height: 48px;
        display: flex;
        align-items: center;

        .nav-link {
            display: inline-block;
            margin-right: -30px;
        }

        svg {
            display: inline-block;
            margin: 0 10px;
            height: 56px;
        }
    }

    .nav-link {
        text-transform: none;
        font-weight: $font-weight-bold;
    }

    .td-search-input {
        border: none;

        @include placeholder {
            color: $navbar-dark-color;
        }
    }

    .dropdown {
        min-width: 100px;
    }

    @include media-breakpoint-down(md) {
        padding-right: 0.5rem;
        padding-left: 0.75rem;

        .td-navbar-nav-scroll {
            max-width: 100%;
            height: 2.5rem;
            margin-top: 0.25rem;
            overflow: hidden;
            font-size: 0.875rem;

            .nav-link {
                padding-right: 0.25rem;
                padding-left: 0;
            }

            .navbar-nav {
                padding-bottom: 2rem;
                overflow-x: auto;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }
        }
    }
}

.corner-ribbon {
    width: 220px;
    background: rgb(238, 238, 51);
    top: 25px;
    right: -50px;
    text-align: center;
    line-height: 50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 100;
    position: fixed;
    a {
        color: #ff0000;
    }
}
