.td-content {
    img {
        display: block;
        margin: 0 auto;
        width: 80%;
    }
}

.headline {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.description {
    font-size: 1.15rem;
}

.long-description {
    color: $gray-500;
    margin-bottom: 2.5rem;
}

.core-values {
    max-width: 80rem;
}

.core-value {
    padding: 4rem 0;
}

.value-title {
    color: $primary;
    margin-left: 23px;
}

.core-value-detail li {
    padding: 4px;
}


@include media-breakpoint-down(md) {
    .value-title {
        margin-top: 1rem;
    }
}

.medium-zoom-overlay {
    z-index: 100;
}
.medium-zoom-image--opened {
    z-index: 101;
}
