.td-content {
    img {
        display: block;
        margin: 0 auto;
        width: 80%;
    }
}

@media screen and (min-width: 1000px) {
    .lp-cover-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.headline {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 25px;
}

.description {
    font-size: 1.15rem;
}

.long-description {
    font-weight: 600;
    color: $gray-500;
    margin-bottom: 2.5rem;
}

.core-values {
    max-width: 80rem;
}

.core-value {
    padding: 4rem 0;
}

.value-title {
    color: $primary;
    margin-left: 23px;
}

.core-value-detail li {
    padding: 4px;
}

.bolder {
    font-weight: 600;
}

.release-panel {
    padding: 0 1.5rem;
    display: inline-block;
    line-height: 3.5rem;
    text-align: center;
    min-width: 4.5rem;
    border-radius: .5rem;
    background-color: #ffffff;
    color: #290b53;
    margin-left: -1rem;
}


@include media-breakpoint-down(md) {
    .value-title {
        margin-top: 1rem;
    }
}

.medium-zoom-overlay {
    z-index: 100;
}
.medium-zoom-image--opened {
    z-index: 101;
}

// Fix version selector padding on mobile sidebar to align with rest of nav
@include media-breakpoint-down(lg) {
    .td-sidebar-nav {
        .nav-item.dropdown {
            padding-left: 1.5rem; // Match the padding of .td-sidebar-nav__section (pl-4 equivalent)
        }
    }
}