.td-content {
    img {
        display: block;
        margin: 0 auto;
        width: 80%;
    }
}

.headline {
    font-size: 1.5rem;
}

.description {
    font-size: 1.5rem;
}

.value-title {
    font-size: 1.5rem;
    color: $primary;
}
