apiVersion: pipecd.dev/v1beta1
kind: KubernetesApp
spec:
  pipeline:
  name: analysis-by-metrics
    stages:
      - name: K8S_CANARY_ROLLOUT
        with:
          replicas: 20%
      - name: ANALYSIS
        with:
          duration: 30m
          metrics:
            # The simplest way to analyze.
            - strategy: THRESHOLD
              provider: my-prometheus
              interval: 5m
              expected:
                max: 0.01
              query: |
                sum by (job) (rate(http_requests_total{status=~"5.*", job="analysis"}[5m]))
                /
                sum by (job) (rate(http_requests_total{job="analysis"}[5m]))

            # In case of using AnalysisTemplate
            - template:
                name: http_request_duration_99th_quantile
                appArgs:
                  job: foo
      - name: K8S_PRIMARY_ROLLOUT
      - name: K8S_CANARY_CLEAN
