// Copyright 2026 The PipeCD Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

package deployment

import (
	"context"

	cfg "{{.Module}}/config"
	sdk "github.com/pipe-cd/piped-plugin-sdk-go"
)

func (p *{{.PluginTitle}}Plugin) execute{{titleStage .Stage.Name}}Stage(
	ctx context.Context,
	input *sdk.ExecuteStageInput[cfg.{{.PluginTitle}}ApplicationSpec],
	target *sdk.DeployTarget[cfg.{{.PluginTitle}}DeployTargetConfig],
) sdk.StageStatus {
	// TODO: Implement {{.Stage.Name}} stage logic.
	input.Logger.Info("executing {{.Stage.Name}} stage")
	return sdk.StageStatusSuccess
}
