name: DCO Check

on:
  pull_request:
    branches:
      - master
      - "release-v*"
      - "feat/*"

permissions:
  contents: read

jobs:
  dco:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Check DCO sign-off
        run: ./hack/ensure-dco.sh
