name: gen

on:
  pull_request:
    branches: [ master ]

jobs:
  code:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Generate code
      uses: docker://ghcr.io/pipe-cd/codegen@sha256:3fd8e22eeab21bab2a2f6c1d2770b069922f4973465d57386d672574931943e8 #v0.47.3-rc0-2-g462b842
      with:
        entrypoint: ./tool/codegen/codegen.sh
        args: /github/workspace
    - name: Show Git status
      shell: bash
      run: git status
    - name: Validate
      shell: bash
      run: test -z "$(git status --porcelain)"
