name: gen

on:
  pull_request:
    branches: [ master ]

jobs:
  code:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Generate code
      uses: docker://ghcr.io/pipe-cd/codegen@sha256:fc3db505ef8dbf287b90aafed8c28246d2cca06bda2b43893a3059719fe9fff4 #v0.44.0-38-g7229285
      with:
        entrypoint: ./tool/codegen/codegen.sh
        args: /github/workspace
    - name: Show Git status
      shell: bash
      run: git status
    - name: Validate
      shell: bash
      run: test -z "$(git status --porcelain)"

  docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Generate stable docs
      run: make gen/stable-docs
    - name: Show Git status
      shell: bash
      run: git status
    - name: Validate
      shell: bash
      run: test -z "$(git status --porcelain)"
