name: lint

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - 'release-v*'

env:
  GO_VERSION: 1.22.4
  NODE_VERSION: 18.12.0
  GOLANGCI_LINT_VERSION: v1.62.2

jobs:
  go:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@f3dc5fadcaff5d8da3574b129a58db433171b1a8 #v2.1.3
        with:
          go_version: ${{ env.GO_VERSION }}
          golangci_lint_version: ${{ env.GOLANGCI_LINT_VERSION }}
          fail_on_error: true # this option is deprecated on v2.7.0, but we use v2.1.3, so it's still available

  web:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Update web dependencies
        run: make update/web-deps
      - name: Run lint
        run: make lint/web
