name: prerelease

on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - master
    paths:
      - 'RELEASE'

jobs:
  gh-release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pipe-cd/actions-gh-release@v2.6.0
        with:
          release_file: 'RELEASE'
          token: ${{ secrets.GITHUB_TOKEN }}
