name: release

on:
  push:
    branches:    
      - master
    paths:
      - 'RELEASE'

jobs:
  gh-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      # - uses: pipe-cd/actions-gh-release@v2.4.0
      #   with:
      #     release_file: 'RELEASE'
      #     token: ${{ secrets.GITHUB_TOKEN }}
