name: Test

on:
  push:
    branches:
      - master
    paths:
      - tool/**
  pull_request:
    branches:
      - master
    paths:
      - tool/**

env:
  GO_VERSION: 1.17.6
  NODE_VERSION: 16.13.0

jobs:
  backend:
    name: Tool
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Run unit tests for actions-plan-preview
        working-directory: tool/actions-plan-preview
        run: go test ./...

      - name: Run unit tests for actions-gh-release
        working-directory: tool/actions-gh-release
        run: go test ./...
