name: "Validate Generated Code"

on:
  pull_request:
    branches: [ master ]

jobs:
  analyze:
    name: Analyze
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Generate code
      uses: docker://gcr.io/pipecd/codegen:0.2.0
      with:
        args: /github/workspace
     - name: Show Git status
      shell: bash
      run: git status
    - name: Validate
      shell: bash
      run: test -z "$(git status --porcelain)"
