name: "Validate Generated Code"

on:
  pull_request:
    branches: [ master ]

jobs:
  analyze:
    name: Validate
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Generate code
      uses: docker://gcr.io/pipecd/codegen@sha256:891f26a18497b6d4a3718cc41d109e99a019a7911fe556d281f24d2c7d6eb127 #v0.5.0
      with:
        args: /github/workspace
    - name: Show Git status
      shell: bash
      run: git status
    - name: Validate
      shell: bash
      run: test -z "$(git status --porcelain)"
